target/
common/target/classes
management-app/target
microservice/target

.mvn
!.git

.project
.settings
.DS_Store

*.class
*.log

### STS ###
.apt_generated
.classpath
.factorypaths
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
